<div class="container">
    <h1>Uzupełnij dane:</h1>
    <form [formGroup]="calculateForm" (ngSubmit)="calculate()">
      <div class="form-group">
        <label for="name">Gęstość początkowa (BLG)</label>
        <input type="number" formControlName="originalGravity" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="alterEgo">Gęstość końcowa (BLG)</label>
        <input type="number" formControlName="finalGravity" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-success">Policz!</button>

    </form>

    <div *ngIf="result != 0.0">
        <label for="alterEgo">Twoje piwo ma około:</label>
        <p>{{result}} %</p>
    </div>
</div>