<table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nazwa przepisu</th>
                <th>Ilość (l)</th>
                <th>Data utworzenia</th>
                <th>Akcja</th>
                            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let batch of batches; let i = index">
                <td>
                    {{batch.recipe.name}}
                </td>
                <td>
                    {{batch.ibu}}
                </td>
                <td>
                    {{batch.brewingDate | date   }}
                </td>
                <td>
                    <!-- <Button class="btn" [routerLink] = "['/recipes', recipe.id, 'details']"><fa size="lg" name="info"></fa></Button>
                    <Button class="btn" [routerLink] = "['/recipes', recipe.id, 'edit'] "><fa size="lg" name="edit"></fa></Button>
                    <Button class="btn" [routerLink] = "['/batches', recipe.id, 'brew'] "><fa size="lg" name="beer"></fa></Button>
                    
                     -->
                </td>
            </tr>
        </tbody>
    </table>