<div *ngIf="recipes.length!==0;else other_content" class="row">
    <div class="col-sm-10 offset-sm-1">
    <table style="background-color:#E2F1AF;padding-bottom: 5%; padding-top: 5%;" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nazwa przepisu</th>
                <th>Ilość (l)</th>
                <th>Data utworzenia</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of recipes; let i = index">
                <td>
                    {{recipe.name}}
                </td>
                <td>
                    {{recipe.amount}}
                </td>
                <td>
                    {{recipe.creationDateTime | date   }}
                </td>
                <td>
                    <Button class="btn btn-primary" [routerLink]="['/batches', recipe.id, 'brew'] ">Uwarz!</Button>
                    <Button class="btn" [routerLink]="['/recipes', recipe.id, 'details']" title="pokaż szczegóły">
                        <fa size="lg" name="info"></fa>
                    </Button>
                    <Button class="btn" [routerLink]="['/recipes', recipe.id, 'edit'] " title="edytuj">
                        <fa size="lg" name="edit"></fa>
                    </Button>
                    <Button class="btn" (click)="deleteRecipe(recipe.id)" title="usuń">
                        <fa size="lg" name="remove"></fa>
                    </Button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<ng-template #other_content>
    <div class="row">
        <h2 class="text-center col-sm-10">Jeszcze nic nie ma :( </h2>
        <h2 class="text-center col-sm-10"><a routerLink="/recipes/add">Utwórz przepis!</a></h2>
    </div>
</ng-template>