<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">BrewersSupporter</div>
    
    <ul class="navbar-nav">
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">Strona główna</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Logowanie</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Wyloguj sie!</a></li>
      <li><div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>Kalkulatory</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button routerLink="" ngbDropdownItem>Korekcja wskazań refaktometru</button>
            <button routerLink="" ngbDropdownItem>Zawartość alkoholu</button>
            <button routerLink="" ngbDropdownItem>Wydajność zacierania</button>
            <button routerLink="" ngbDropdownItem>Rozcieńczanie/zagęszczanie brzeczki</button>
          </div>
        </div>
      </div></li>
    
    </ul>
    
    </nav>
    
    </header>
    